

.banner{
    background-color: rgba(0, 0, 0, 0.6);
    height: 650px;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.galeria{
    color:white;
    background-color: rgb(85, 141, 224);
    padding: 8px;
    width:200px;
    height: 200px;
    cursor: pointer;
}

.galeria:hover{
    background: rgba(252, 243, 243, 0.1);
    
}